//page colors
$white: #fff;
$black: rgba(0,0,0,0.3);
$btn-black: #000;
$background: #292929;
$about: rgba(70,70,70,0.9);
$portfolio: rgba(155,155,155,0.78);
$skills: #3d3d3d;
$blue-accent: #120875;
$yellow-accent: #f7941d;
$contact-footer: #292929;
$alert-red: #F31431;
$social: #4b4b4b;
//typography
$font-fam: 'Roboto', sans-serif;